@media screen and (max-width: 980px) {
  .chips {
    justify-content: center !important;
  }
}
.button.closed {
  background: rgb(121, 0, 0) !important;
}
.spotlight.alt .chips {
  justify-content: flex-end;
}
.spotlight.alt .chips > .chip {
  margin: 4px 0 4px 4px;
}

.profile.wrapper {
  text-align: center;
  height: calc(256px - 32px);
}
.profile.wrapper img {
  width: 256px;
  height: 256px;

  border-radius: 4px;

  box-shadow: 0 4px 4px #333333;
}

.chips {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.chips > .chip {
  transition: 0.3s all;
  border-radius: 16px;
  border: 1px solid #54a354;
  color: #54a354;
  padding: 4px 16px;
  margin: 4px 4px 4px 0;
  cursor: pointer;
}
.chips > .chip:hover {
  background-color: #54a354;
  color: white;
}

.carousel {
  background: #eee;
  width: 100%;
}

.carousel .gallery-cell {
  width: 66%;
  margin-right: 10px;
  counter-increment: gallery-cell;
  text-align: center;
}
.carousel img {
  max-width: 100%;
  width: auto;
  max-height: 500px;
  height: auto;
}
